body{
    margin: 0;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.intro{
    padding-top: 45px;
    background: url("img/pngtree-mathematics-education-calculator-ruler-hand-drawn-background-image_340649.jpg") center no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 557px;


}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px ;
    padding: 4px;
    background-color: rgb(105, 100, 100);
    max-width: 360px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px;
    position: relative;
    top: 4px;
    left: 120px;


}

input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 40px;
    font-family: 'Wallpoet', cursive;
    text-align: right;
    border-radius: 5px;
    outline: none;
    background-color: rgba(18, 19, 18, 0.85);
    color: white;
}

.input{
    display: flex;
    grid-column: 1/-1;

    width: 100%;
    height: 60px;
    color: white;
    font-size: 30px;
    outline: none;
    justify-content: flex-end;
    align-items: center;

    background-color: rgba(18, 19, 18, 0.85);
    font-family: 'Wallpoet', cursive;
    border-radius: 5px;
}

.item {
    border-radius: 5px;
    background-color: rgba(28, 29, 28, 0.85);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.operator{
    color: #1f69a9;
}

.clear{
    color: rgba(255, 0, 0, 0.82);
}

.zero{
    grid-column: 1/3;
}

.equal{
    grid-column: 4;
    grid-row: 5/7;
}

.item:hover{
    box-shadow: inset 0 0 10px;
}

.lower{
    font-size: 14px;
    margin-left: 3px;
    margin-top: -20px;
}
.item__operators{
    color: rgb(43, 108, 219);
}
.clear__result{
    color: #e92626;
}

/*.output__result{
    width: 100%;
    height: 40px;
    font-size: 30px;
    outline: none;
    text-align: right;
    border: none;
    padding: 0;
    grid-column: 1/-1;
    font-family: 'Wallpoet', cursive;
}*/

